* {
    margin: 0;
    padding: 0;
}

body {
    background-color: rgb(5, 32, 49);
}

.container {
    max-height: 100vh;
    max-width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0 15px;
}

.flex {
    display: flex;
    justify-content: center;
    align-items: center;
}

.container img {
    margin: 10px 0;
}

span {
    display: inline-block;
    color: #fff;
    text-align: center;
    margin: 10px;
    padding: 10px;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    box-shadow: 0 0 20px #fff;
}

span h4 {
    margin-bottom: 5px;
    font-size: 30px;
}

span h2 {
    font-size: 60px;
}

@media (max-width: 576px) {
    .container {
        padding: 0;
        text-align: center;
    }
    .container img {
        margin-bottom: 10px;
    }
    span h4 {
        margin-bottom: 5px;
        font-size: 15px;
    }
    span h2 {
        font-size: 30px;
    }
}

@media (max-width: 342px) {
    .container img {
        margin-bottom: 10px;
    }
    span h4 {
        margin-bottom: 5px;
        font-size: 12px;
    }
    span h2 {
        font-size: 25px;
    }
}